@charset "utf-8";

* {
    -webkit-tap-highlight-color: transparent;
    outline: 0
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
    vertical-align: baseline
}
img {
    border: 0 none;
    vertical-align: top
}
i, em {
    font-style: normal
}
ol, ul {
    list-style: none
}
input, select, button, h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-family: inherit
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
a {
    text-decoration: none;
    color: #333
}
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    font-size: 14px;
    font-family: Microsoft YaHei, Helvetica, STHeiti STXihei, Microsoft JhengHei, Arial;
    line-height: 1.5;
    color: #666;
    -webkit-text-size-adjust: 100% !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.hide, .h {
    display: none !important
}
.show {
    display: block !important
}
.wrapper {
    position: relative;
    min-width: 1240px;
    min-height: 100%;
    padding-bottom: 193px;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#D9000000', endColorstr='#D9000000');
    background: transparent;
    background: rgba(0, 0, 0, 0.85)
}
:root .header {
    -webkit-filter: none\0/IE9;
    filter: none\0/IE9
}
.header .inner {
    position: relative;
    width: 1240px;
    margin: 0 auto;
    height: 50px
}
.header .logo {
    float: left;
    margin: 7px 36px 0 0;
    background-image: url('../images/icons-s65f4c88903.png');
    background-position: 0 -169px;
    width: 150px;
    height: 36px
}
.header .nav_list {
    float: left;
    height: 50px
}
.header .nav {
    position: relative;
    float: left;
    margin-left: 16px;
    position: relative;
    width: 42px;
    height: 50px;
    text-align: center
}
.header .nav:first-child {
    margin-left: 0
}
.header .nav:hover {
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#1AFFFFFF', endColorstr='#1AFFFFFF');
    background: transparent;
    background: rgba(255, 255, 255, 0.1)
}
:root .header .nav:hover {
    -webkit-filter: none\0/IE9;
    filter: none\0/IE9
}
.header .nav:hover:after {
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 5px;
    background-color: #fff;
    content: ""
}
.header .nav:hover .child_nav {
    display: block;
    -webkit-animation: fadein 0.5s both;
    animation: fadein 0.5s both
}
.header .nav .child_nav {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#66000000', endColorstr='#66000000');
    background: transparent;
    background: rgba(0, 0, 0, 0.4)
}
:root .header .nav .child_nav {
    -webkit-filter: none\0/IE9;
    filter: none\0/IE9
}
.header .nav .child_nav a {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #fff
}
.header .nav .child_nav a:last-child {
    margin-bottom: 5px
}
.header .search_wrapper {
    position: relative;
    float: left;
    margin: 12px 0 0 25px;
    width: 222px;
    height: 25px;
    border-radius: 5px;
    background-color: #fff
}
.header .search_wrapper .search_input {
    margin: 5px 13px;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    color: #9c9c9c;
    -webkit-appearance: none;
    border: 0px;
    outline: none
}
.header .search_wrapper .search_btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 33px;
    border-left: 1px solid #d9d9d9;
    cursor: pointer
}
.header .search_wrapper .search_btn:before {
    display: block;
    margin: 5px auto;
    background-image: url('../images/icons-s65f4c88903.png');
    background-position: 0 -463px;
    width: 17px;
    height: 15px;
    content: " "
}
.header .update_notice {
    position: relative;
    float: left;
    margin-left: 46px;
    height: 50px
}
.header .update_notice:after {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: ""
}
.header .update_notice .update_msg {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    color: #fff;
    width: 160px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}
.header .update_notice .word_jrgx {
    display: inline-block;
    vertical-align: middle;
    background-image: url('../images/icons-s65f4c88903.png');
    background-position: 0 -147px;
    width: 76px;
    height: 18px
}
.header .update_notice:hover .update_msg {
    text-decoration: underline
}
.header .update_notice:hover .more_notice {
    display: block;
    -webkit-animation: fadein 0.5s both;
    animation: fadein 0.5s both
}
.header .update_notice .more_notice {
    display: none;
    position: absolute;
    width: 160px;
    top: 50px;
    right: 0;
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 5px;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#80000000', endColorstr='#80000000');
    background: transparent;
    background: rgba(0, 0, 0, 0.5)
}
:root .header .update_notice .more_notice {
    -webkit-filter: none\0/IE9;
    filter: none\0/IE9
}
.header .update_notice .more_notice a {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}
.header .update_notice .more_notice a:last-child {
    margin-bottom: 5px
}
.header .update_notice .more_notice a:hover {
    text-decoration: underline
}
.header .sns_wrapper {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    bottom: 0
}
.header .sns_wrapper:after {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: ""
}
.header .sns_wrapper .item {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer
}
.header .sns_wrapper .logo_weibo {
    background-image: url('../images/icons-s65f4c88903.png');
    background-position: 0 -630px;
    width: 34px;
    height: 26px
}
.header .icon_w {
    display: inline-block;
    margin-top: 15px;
    background-image: url('../images/icons-s65f4c88903.png');
    background-position: 0 -439px;
    width: 36px;
    height: 20px;
    color: transparent
}
.header .icon_w.nav_zx {
    background-position: 0 -439px
}
.header .icon_w.nav_zixun {
    background-position: 0 -391px
}
.header .icon_w.nav_zj {
    background-position: 0 -415px
}
.header .icon_w.nav_dy {
    background-position: 0 -295px
}
.header .icon_w.nav_ftp {
    background-position: 0 -319px
}
.header .icon_w.nav_jj {
    background-position: 0 -343px
}
.header .icon_w.nav_qp {
    background-position: 0 -367px
}
.indexbanner {
    width: 100%;
    height: 550px;
    overflow: hidden
}
.indexbanner .bannerimg {
    width: 100%;
    height: auto
}
.area_row {
    position: relative;
    width: 1240px;
    margin: 0 auto;
    overflow: hidden
}
.area_row .area_header {
    position: relative;
    overflow: hidden
}
.area_row .area_header .header_btn_wrapper {
    position: absolute;
    right: 0;
    top: 5px
}
.area_row .area_header .btn_asj {
    display: inline-block;
    vertical-align: middle;
    background-image: url('../images/icons-s65f4c88903.png');
    background-position: 0 -50px;
    width: 62px;
    height: 21px;
    cursor: pointer
}
.area_row .area_header .btn_asj.on {
    background-position: 0 -75px
}
.area_row .area_header .icon_line {
    display: inline-block;
    vertical-align: middle;
    background-image: url('../images/icons-s65f4c88903.png');
    background-position: 0 -122px;
    width: 21px;
    height: 21px
}
.area_row .area_header .btn_adj {
    display: inline-block;
    vertical-align: middle;
    background-image: url('../images/icons-s65f4c88903.png');
    background-position: 0 0;
    width: 120px;
    height: 21px;
    cursor: pointer
}
.area_row .area_header .btn_adj.on {
    background-position: 0 -25px
}
.area_row .area_title {
    color: transparent
}
.area_row .area_title .word {
    display: block
}
.area_row .area_title .word.dy {
    background-image: url('../images/icons-s65f4c88903.png');
    background-position: 0 -519px;
    width: 121px;
    height: 33px
}
.area_row .area_title .word.zx {
    background-image: url('../images/icons-s65f4c88903.png');
    background-position: 0 -593px;
    width: 217px;
    height: 33px
}
.area_row .area_title .word.zj {
    background-image: url('../images/icons-s65f4c88903.png');
    background-position: 0 -556px;
    width: 192px;
    height: 33px
}
.area_row .area_title .word.dsj {
    background-image: url('../images/icons-s65f4c88903.png');
    background-position: 0 -482px;
    width: 210px;
    height: 33px
}
.area_row .area_title:after {
    display: block;
    margin-top: 7px;
    height: 3px;
    background-color: #cbcaca;
    width: 250px;
    z-index: 1;
    content: " "
}
.list_area {
    width: 870px;
    margin: 25px 0 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.list_area .index_tiny_img {
    width: 150px;
    height: 225px
}
.list_area .list_wrapper {
    overflow: hidden;
    margin-left: -30px
}
.list_area .list_wrapper .item {
    float: left;
    width: 150px;
    margin: 10px 0 0 30px
}
.list_area .list_wrapper .name {
    margin-top: 5px;
    height: 20px;
    line-height: 20px;
    color: #464646;
    text-align: center;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}
.single_area {
    margin: 25px 0 0 0;
    width: 320px
}
.single_wrapper {
    margin-top: 10px
}
.single_wrapper .select_wrapper {
    margin-top: 5px;
    height: 20px;
    text-align: right
}
.single_wrapper .index_single_img {
    width: 320px;
    height: 485px
}
.single_wrapper .index_mulit_img {
    width: 320px;
    height: 225px
}
.single_wrapper .options {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-color: #a4a4a4;
    border-radius: 17px;
    cursor: pointer
}
.single_wrapper .options.on {
    background-color: #00a0e9
}
.single_wrapper .item {
    display: block;
    position: relative;
    margin-top: 35px
}
.single_wrapper .item:first-child {
    margin-top: 0
}
.single_wrapper .item .msg_wrapper {
    position: absolute;
    bottom: 0;
    padding: 20px;
    left: 0;
    width: 100%;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#CFD5D5D5', endColorstr='#CFD5D5D5');
    background: transparent;
    background: rgba(213, 213, 213, 0.81);
    color: #000;
    font-size: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
:root .single_wrapper .item .msg_wrapper {
    -webkit-filter: none\0/IE9;
    filter: none\0/IE9
}
.single_wrapper .item .msg_wrapper em {
    font-size: 25px;
    color: #000
}
.index_ad_img {
    display: block;
    margin: 10px auto 0;
    width: 1240px;
    height: 100px
}
.pr {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 1;
    background-color: #585757;
    text-align: center;
    color: #fff
}
.footer .foot_nav_wrapper {
    display: inline-block;
    vertical-align: middle;
    text-align: left
}
.footer .foot_nav_wrapper li {
    margin-top: 25px
}
.footer .foot_nav_wrapper li:first-child {
    margin-top: 0
}
.footer .foot_nav_wrapper h3 {
    font-weight: normal;
    font-size: 18px;
    color: #fff
}
.footer .foot_nav_wrapper .item {
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s
}
.footer .foot_nav_wrapper .item:hover {
    color: #f2f2f2
}
.footer .copyright {
    margin-left: 70px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #fff
}
.footer:after {
    display: inline-block;
    content: "";
    vertical-align: middle;
    height: 100%
}
.footer .icon_ftp {
    position: relative;
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
    background-image: url('../images/icons-s65f4c88903.png');
    background-position: 0 -100px;
    width: 18px;
    height: 18px
}
.footer .icon_nav {
    position: relative;
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
    background-image: url('../images/icons-s65f4c88903.png');
    background-position: 0 -273px;
    width: 18px;
    height: 18px
}
.logo_ghy {
    display: inline-block;
    background-image: url('../images/icons-s65f4c88903.png');
    background-position: 0 -209px;
    width: 67px;
    height: 60px
}
@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}