@charset "utf-8";
@import "compass/css3/images";


//雪碧图图片
@mixin spriteImg($map,$sprite){
	background-image:$map;
	background-position : sprite-position($map, $sprite);
	width:image-width(sprite-file($map,$sprite));
	height:image-height(sprite-file($map,$sprite));
}

//静态图片
@mixin staticImg($img,$base64:false){
	@if $base64{
		background-image : inline-image($img);
	}@else{
		background-image : image-url($img);
	}
	width:image-width($img);
	height:image-height($img);
}

//文字省略号
@mixin textoverflow{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

//浏览器前缀
@mixin css3($property, $value) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}#{$property}: $value;
    }
}

@mixin rgba-background($color){
    @include filter-gradient($color, $color);
    background: transparent;
    // set filter as none for IE9+, because IE9+ supprot RGBa
    :root & {filter: none\0/IE9;}
    background: $color;
}