@charset "UTF-8";
/* line 3, ../sass/_reset.scss */
* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}

/* line 7, ../sass/_reset.scss */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 12, ../sass/_reset.scss */
img {
  border: 0 none;
  vertical-align: top;
}

/* line 16, ../sass/_reset.scss */
i, em {
  font-style: normal;
}

/* line 19, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 22, ../sass/_reset.scss */
input, select, button, h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: inherit;
}

/* line 26, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 30, ../sass/_reset.scss */
a {
  text-decoration: none;
  color: #333;
}

/* line 34, ../sass/_reset.scss */
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 39, ../sass/_reset.scss */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
  font-size: 14px;
  font-family: Microsoft YaHei,Helvetica, STHeiti STXihei, Microsoft JhengHei,  Arial;
  line-height: 1.5;
  color: #666;
  -webkit-text-size-adjust: 100% !important;
  -webkit-user-select: none;
  user-select: none;
}

/* line 52, ../sass/_reset.scss */
.hide, .h {
  display: none !important;
}

/* line 55, ../sass/_reset.scss */
.show {
  display: block !important;
}

/*改动电影网的孩子，使用字体库前请看以下说明
电影网的三级页面中，字体一共分3类：主标题字体---32px、副标题小标题按钮字体（以下简称为
副字体）---18px、正文评论字体---16px。在不考虑颜色的情况下，各类型字体具有自己的特
点。请慎重使用以及改动。
                                                   -----2014级开发部，宁折不弯的小野人*/
/* line 9, ../sass/style.scss */
.wrapper {
  position: relative;
  min-width: 1240px;
  min-height: 100%;
  padding-bottom: 193px;
  box-sizing: border-box;
}

/* 头部 */
/* line 17, ../sass/style.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#D9000000', endColorstr='#D9000000');
  background: transparent;
  background: rgba(0, 0, 0, 0.85);
}
/* line 42, ../sass/_func.scss */
:root .header {
  filter: none\0/IE9;
}
/* line 22, ../sass/style.scss */
.header .inner {
  position: relative;
  width: 1240px;
  margin: 0 auto;
  height: 50px;
}
/* line 28, ../sass/style.scss */
.header .logo {
  float: left;
  margin: 7px 36px 0 0;
  background-image: url('/images/icons-sa3ca1be2d4.png');
  background-position: 0 -192px;
  width: 150px;
  height: 36px;
}
/* line 33, ../sass/style.scss */
.header .nav_list {
  float: left;
  height: 50px;
}
/* line 37, ../sass/style.scss */
.header .nav {
  position: relative;
  float: left;
  margin-left: 16px;
  position: relative;
  width: 42px;
  height: 50px;
  text-align: center;
}
/* line 38, ../sass/style.scss */
.header .nav:first-child {
  margin-left: 0;
}
/* line 49, ../sass/style.scss */
.header .nav:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#1AFFFFFF', endColorstr='#1AFFFFFF');
  background: transparent;
  background: rgba(255, 255, 255, 0.1);
}
/* line 42, ../sass/_func.scss */
:root .header .nav:hover {
  filter: none\0/IE9;
}
/* line 51, ../sass/style.scss */
.header .nav:hover:after {
  position: absolute;
  top: 38px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 5px;
  background-color: #fff;
  content: "";
}
/* line 59, ../sass/style.scss */
.header .nav:hover .child_nav {
  display: block;
  animation: fadein 0.5s both;
}
/* line 64, ../sass/style.scss */
.header .nav .child_nav {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#66000000', endColorstr='#66000000');
  background: transparent;
  background: rgba(0, 0, 0, 0.4);
}
/* line 42, ../sass/_func.scss */
:root .header .nav .child_nav {
  filter: none\0/IE9;
}
/* line 72, ../sass/style.scss */
.header .nav .child_nav a {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #fff;
}
/* line 77, ../sass/style.scss */
.header .nav .child_nav a:last-child {
  margin-bottom: 5px;
}
/* line 83, ../sass/style.scss */
.header .search_wrapper {
  position: relative;
  float: left;
  margin: 12px 0 0 25px;
  width: 222px;
  height: 25px;
  border-radius: 5px;
  background-color: #fff;
}
/* line 91, ../sass/style.scss */
.header .search_wrapper .search_input {
  margin: 5px 13px;
  height: 15px;
  line-height: 15px;
  font-size: 12px;
  color: #9c9c9c;
  -webkit-appearance: none;
  border: 0px;
  outline: none;
}
/* line 101, ../sass/style.scss */
.header .search_wrapper .search_btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 33px;
  border-left: 1px solid #d9d9d9;
  cursor: pointer;
}
/* line 108, ../sass/style.scss */
.header .search_wrapper .search_btn:before {
  display: block;
  margin: 5px auto;
  background-image: url('/images/icons-sa3ca1be2d4.png');
  background-position: 0 -486px;
  width: 17px;
  height: 15px;
  content: " ";
}
/* line 116, ../sass/style.scss */
.header .update_notice {
  position: relative;
  float: left;
  margin-left: 46px;
  height: 50px;
}
/* line 121, ../sass/style.scss */
.header .update_notice:after {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  content: "";
}
/* line 127, ../sass/style.scss */
.header .update_notice .update_msg {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  color: #fff;
  width: 160px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* line 136, ../sass/style.scss */
.header .update_notice .word_jrgx {
  display: inline-block;
  vertical-align: middle;
  background-image: url('/images/icons-sa3ca1be2d4.png');
  background-position: 0 -170px;
  width: 76px;
  height: 18px;
}
/* line 142, ../sass/style.scss */
.header .update_notice:hover .update_msg {
  text-decoration: underline;
}
/* line 145, ../sass/style.scss */
.header .update_notice:hover .more_notice {
  display: block;
  animation: fadein 0.5s both;
}
/* line 150, ../sass/style.scss */
.header .update_notice .more_notice {
  display: none;
  position: absolute;
  width: 160px;
  top: 50px;
  right: 0;
  display: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#80000000', endColorstr='#80000000');
  background: transparent;
  background: rgba(0, 0, 0, 0.5);
}
/* line 42, ../sass/_func.scss */
:root .header .update_notice .more_notice {
  filter: none\0/IE9;
}
/* line 161, ../sass/style.scss */
.header .update_notice .more_notice a {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* line 167, ../sass/style.scss */
.header .update_notice .more_notice a:last-child {
  margin-bottom: 5px;
}
/* line 170, ../sass/style.scss */
.header .update_notice .more_notice a:hover {
  text-decoration: underline;
}
/* line 176, ../sass/style.scss */
.header .sns_wrapper {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  bottom: 0;
}
/* line 182, ../sass/style.scss */
.header .sns_wrapper:after {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  content: "";
}
/* line 188, ../sass/style.scss */
.header .sns_wrapper .item {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
/* line 193, ../sass/style.scss */
.header .sns_wrapper .logo_weibo {
  background-image: url('/images/icons-sa3ca1be2d4.png');
  background-position: 0 -653px;
  width: 34px;
  height: 26px;
}
/* line 197, ../sass/style.scss */
.header .icon_w {
  display: inline-block;
  margin-top: 15px;
  background-image: url('/images/icons-sa3ca1be2d4.png');
  background-position: 0 -462px;
  width: 36px;
  height: 20px;
  color: transparent;
}
/* line 202, ../sass/style.scss */
.header .icon_w.nav_zx {
  background-position: 0 -462px;
}
/* line 205, ../sass/style.scss */
.header .icon_w.nav_zixun {
  background-position: 0 -414px;
}
/* line 208, ../sass/style.scss */
.header .icon_w.nav_zj {
  background-position: 0 -438px;
}
/* line 211, ../sass/style.scss */
.header .icon_w.nav_dy {
  background-position: 0 -318px;
}
/* line 214, ../sass/style.scss */
.header .icon_w.nav_ftp {
  background-position: 0 -342px;
}
/* line 217, ../sass/style.scss */
.header .icon_w.nav_jj {
  background-position: 0 -366px;
}
/* line 220, ../sass/style.scss */
.header .icon_w.nav_qp {
  background-position: 0 -390px;
}

/* line 226, ../sass/style.scss */
.indexbanner {
  width: 100%;
  height: 550px;
  overflow: hidden;
}
/* line 230, ../sass/style.scss */
.indexbanner .bannerimg {
  width: 100%;
  height: auto;
}

/* line 237, ../sass/style.scss */
.area_row {
  position: relative;
  width: 1240px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 242, ../sass/style.scss */
.area_row .area_header {
  position: relative;
  overflow: hidden;
}
/* line 245, ../sass/style.scss */
.area_row .area_header .header_btn_wrapper {
  position: absolute;
  right: 0;
  top: 5px;
}
/* line 250, ../sass/style.scss */
.area_row .area_header .btn_asj {
  display: inline-block;
  vertical-align: middle;
  background-image: url('/images/icons-sa3ca1be2d4.png');
  background-position: 0 -50px;
  width: 62px;
  height: 21px;
  cursor: pointer;
}
/* line 255, ../sass/style.scss */
.area_row .area_header .btn_asj.on {
  background-position: 0 -75px;
}
/* line 259, ../sass/style.scss */
.area_row .area_header .icon_line {
  display: inline-block;
  vertical-align: middle;
  background-image: url('/images/icons-sa3ca1be2d4.png');
  background-position: 0 -145px;
  width: 21px;
  height: 21px;
}
/* line 265, ../sass/style.scss */
.area_row .area_header .btn_adj {
  display: inline-block;
  vertical-align: middle;
  background-image: url('/images/icons-sa3ca1be2d4.png');
  background-position: 0 0;
  width: 120px;
  height: 21px;
  cursor: pointer;
}
/* line 270, ../sass/style.scss */
.area_row .area_header .btn_adj.on {
  background-position: 0 -25px;
}
/* line 275, ../sass/style.scss */
.area_row .area_title {
  color: transparent;
}
/* line 277, ../sass/style.scss */
.area_row .area_title .word {
  display: block;
}
/* line 279, ../sass/style.scss */
.area_row .area_title .word.dy {
  background-image: url('/images/icons-sa3ca1be2d4.png');
  background-position: 0 -542px;
  width: 121px;
  height: 33px;
}
/* line 282, ../sass/style.scss */
.area_row .area_title .word.zx {
  background-image: url('/images/icons-sa3ca1be2d4.png');
  background-position: 0 -616px;
  width: 217px;
  height: 33px;
}
/* line 285, ../sass/style.scss */
.area_row .area_title .word.zj {
  background-image: url('/images/icons-sa3ca1be2d4.png');
  background-position: 0 -579px;
  width: 192px;
  height: 33px;
}
/* line 288, ../sass/style.scss */
.area_row .area_title .word.dsj {
  background-image: url('/images/icons-sa3ca1be2d4.png');
  background-position: 0 -505px;
  width: 210px;
  height: 33px;
}
/* line 292, ../sass/style.scss */
.area_row .area_title:after {
  display: block;
  margin-top: 7px;
  height: 3px;
  background-color: #cbcaca;
  width: 250px;
  z-index: 1;
  content: " ";
}

/* line 304, ../sass/style.scss */
.list_area {
  width: 870px;
  margin: 25px 0 0;
  box-sizing: border-box;
}
/* line 308, ../sass/style.scss */
.list_area .index_tiny_img {
  width: 150px;
  height: 225px;
}
/* line 312, ../sass/style.scss */
.list_area .list_wrapper {
  overflow: hidden;
  margin-left: -30px;
}
/* line 315, ../sass/style.scss */
.list_area .list_wrapper .item {
  float: left;
  width: 150px;
  margin: 10px 0 0 30px;
}
/* line 320, ../sass/style.scss */
.list_area .list_wrapper .name {
  margin-top: 5px;
  height: 20px;
  line-height: 20px;
  color: #464646;
  text-align: center;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* line 331, ../sass/style.scss */
.single_area {
  margin: 25px 0 0 0;
  width: 320px;
}

/* line 335, ../sass/style.scss */
.single_wrapper {
  margin-top: 10px;
}
/* line 337, ../sass/style.scss */
.single_wrapper .select_wrapper {
  margin-top: 5px;
  height: 20px;
  text-align: right;
}
/* line 342, ../sass/style.scss */
.single_wrapper .index_single_img {
  width: 320px;
  height: 485px;
}
/* line 346, ../sass/style.scss */
.single_wrapper .index_mulit_img {
  width: 320px;
  height: 225px;
}
/* line 350, ../sass/style.scss */
.single_wrapper .options {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: #a4a4a4;
  border-radius: 17px;
  cursor: pointer;
}
/* line 356, ../sass/style.scss */
.single_wrapper .options.on {
  background-color: #00a0e9;
}
/* line 361, ../sass/style.scss */
.single_wrapper .item {
  display: block;
  position: relative;
  margin-top: 35px;
}
/* line 365, ../sass/style.scss */
.single_wrapper .item:first-child {
  margin-top: 0;
}
/* line 368, ../sass/style.scss */
.single_wrapper .item .msg_wrapper {
  position: absolute;
  bottom: 0;
  padding: 20px;
  left: 0;
  width: 100%;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#CFD5D5D5', endColorstr='#CFD5D5D5');
  background: transparent;
  background: rgba(213, 213, 213, 0.81);
  color: #000;
  font-size: 20px;
  box-sizing: border-box;
}
/* line 42, ../sass/_func.scss */
:root .single_wrapper .item .msg_wrapper {
  filter: none\0/IE9;
}
/* line 377, ../sass/style.scss */
.single_wrapper .item .msg_wrapper em {
  font-size: 25px;
  color: #000;
}

/* 海报 */
/* line 386, ../sass/style.scss */
.index_ad_img {
  display: block;
  margin: 10px auto 0;
  width: 1240px;
  height: 100px;
}

/* line 392, ../sass/style.scss */
.pr {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
}

/* 底部 */
/* line 399, ../sass/style.scss */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 1;
  background-color: #585757;
  text-align: center;
  color: #fff;
}
/* line 407, ../sass/style.scss */
.footer .foot_nav_wrapper {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
/* line 411, ../sass/style.scss */
.footer .foot_nav_wrapper li {
  margin-top: 25px;
}
/* line 413, ../sass/style.scss */
.footer .foot_nav_wrapper li:first-child {
  margin-top: 0;
}
/* line 417, ../sass/style.scss */
.footer .foot_nav_wrapper h3 {
  font-weight: normal;
  font-size: 18px;
  color: #fff;
}
/* line 422, ../sass/style.scss */
.footer .foot_nav_wrapper .item {
  color: #fff;
  font-size: 14px;
  margin-right: 10px;
  transition: color 0.5s;
}
/* line 427, ../sass/style.scss */
.footer .foot_nav_wrapper .item:hover {
  color: #f2f2f2;
}
/* line 432, ../sass/style.scss */
.footer .copyright {
  margin-left: 70px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}
/* line 439, ../sass/style.scss */
.footer:after {
  display: inline-block;
  content: "";
  vertical-align: middle;
  height: 100%;
}
/* line 445, ../sass/style.scss */
.footer .icon_ftp {
  position: relative;
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle;
  background-image: url('/images/icons-sa3ca1be2d4.png');
  background-position: 0 -123px;
  width: 18px;
  height: 18px;
}
/* line 452, ../sass/style.scss */
.footer .icon_nav {
  position: relative;
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle;
  background-image: url('/images/icons-sa3ca1be2d4.png');
  background-position: 0 -296px;
  width: 18px;
  height: 18px;
}

/* line 460, ../sass/style.scss */
.logo_ghy {
  display: inline-block;
  background-image: url('/images/icons-sa3ca1be2d4.png');
  background-position: 0 -232px;
  width: 67px;
  height: 60px;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*=================================================================================
=================================================================================
=================================================================================
=============================以下是3级页面的部分，啦啦啦啦啦====================================================
=================================================================================
=================================================================================
=================================================================================*/
/* line 491, ../sass/style.scss */
.index3_wrapper {
  position: relative;
  min-width: 1240px;
  min-height: 100%;
  padding-bottom: 38px;
  box-sizing: border-box;
  /*=======================================================================
  =============================中部main内容   ============================================
  ==================================================================================*/
  /*======================================================================
  =========================================================================
  ========================================================================
  =============================footer内容   ============================================
  ==========================================================================
  ===========================================================
  ===================================================================*/
}
/* line 498, ../sass/style.scss */
.index3_wrapper .index3_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6585858', endColorstr='#E6585858');
  background: transparent;
  background: rgba(88, 88, 88, 0.9);
}
/* line 42, ../sass/_func.scss */
:root .index3_wrapper .index3_header {
  filter: none\0/IE9;
}
/* line 504, ../sass/style.scss */
.index3_wrapper .index3_header .index3_inner {
  position: relative;
  width: 1240px;
  margin: 0 auto;
  height: 50px;
}
/* line 510, ../sass/style.scss */
.index3_wrapper .index3_header .index3_logo {
  float: left;
  margin: 7px 36px 0 0;
  background-image: url('/images/icons-sa3ca1be2d4.png');
  background-position: 0 -192px;
  width: 150px;
  height: 36px;
  	/*background-image: url('../images/icons-s65f4c88903.png');
      background-position: 0 -169px;
      width: 150px;
      height: 36px;*/
}
/* line 519, ../sass/style.scss */
.index3_wrapper .index3_header .index3_nav_list {
  float: left;
  height: 50px;
}
/* line 523, ../sass/style.scss */
.index3_wrapper .index3_header .index3_nav {
  /*伪类，针对子类的第一个元素*/
  position: relative;
  float: left;
  margin-left: 16px;
  position: relative;
  width: 42px;
  height: 50px;
  text-align: center;
}
/* line 524, ../sass/style.scss */
.index3_wrapper .index3_header .index3_nav:first-child {
  margin-left: 0;
}
/* line 535, ../sass/style.scss */
.index3_wrapper .index3_header .index3_nav:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#1AFFFFFF', endColorstr='#1AFFFFFF');
  background: transparent;
  background: rgba(255, 255, 255, 0.1);
}
/* line 42, ../sass/_func.scss */
:root .index3_wrapper .index3_header .index3_nav:hover {
  filter: none\0/IE9;
}
/* line 537, ../sass/style.scss */
.index3_wrapper .index3_header .index3_nav:hover:after {
  position: absolute;
  top: 38px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 5px;
  background-color: #fff;
  content: "";
}
/* line 545, ../sass/style.scss */
.index3_wrapper .index3_header .index3_nav:hover .index3_child_nav {
  display: block;
  animation: fadein 0.5s both;
  -webkit-animation: fadein 0.5s both;
}
/* line 551, ../sass/style.scss */
.index3_wrapper .index3_header .index3_nav .index3_child_nav {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#66000000', endColorstr='#66000000');
  background: transparent;
  background: rgba(0, 0, 0, 0.4);
}
/* line 42, ../sass/_func.scss */
:root .index3_wrapper .index3_header .index3_nav .index3_child_nav {
  filter: none\0/IE9;
}
/* line 559, ../sass/style.scss */
.index3_wrapper .index3_header .index3_nav .index3_child_nav a {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #fff;
}
/* line 564, ../sass/style.scss */
.index3_wrapper .index3_header .index3_nav .index3_child_nav a:last-child {
  margin-bottom: 5px;
}
/* line 570, ../sass/style.scss */
.index3_wrapper .index3_header .index3_search_wrapper {
  position: relative;
  float: left;
  margin: 12px 0 0 274px;
  width: 222px;
  height: 25px;
  border-radius: 5px;
  background-color: #fff;
}
/* line 578, ../sass/style.scss */
.index3_wrapper .index3_header .index3_search_wrapper .index3_search_input {
  margin: 5px 13px;
  height: 15px;
  line-height: 15px;
  font-size: 12px;
  color: #9c9c9c;
  -webkit-appearance: none;
  border: 0px;
  outline: none;
}
/* line 588, ../sass/style.scss */
.index3_wrapper .index3_header .index3_search_wrapper .index3_search_btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 33px;
  border-left: 1px solid #d9d9d9;
  cursor: pointer;
}
/* line 595, ../sass/style.scss */
.index3_wrapper .index3_header .index3_search_wrapper .index3_search_btn:before {
  display: block;
  margin: 5px auto;
  background-image: url('/images/icons-sa3ca1be2d4.png');
  background-position: 0 -486px;
  width: 17px;
  height: 15px;
  content: " ";
}
/* line 604, ../sass/style.scss */
.index3_wrapper .index3_header .index3_sns_wrapper {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  bottom: 0;
}
/* line 610, ../sass/style.scss */
.index3_wrapper .index3_header .index3_sns_wrapper:after {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  content: "";
}
/* line 616, ../sass/style.scss */
.index3_wrapper .index3_header .index3_sns_wrapper .item {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
/* line 621, ../sass/style.scss */
.index3_wrapper .index3_header .index3_sns_wrapper .logo_weibo {
  background-image: url('/images/icons-sa3ca1be2d4.png');
  background-position: 0 -653px;
  width: 34px;
  height: 26px;
}
/* line 625, ../sass/style.scss */
.index3_wrapper .index3_header .icon_w {
  display: inline-block;
  margin-top: 15px;
  background-image: url('/images/icons-sa3ca1be2d4.png');
  background-position: 0 -462px;
  width: 36px;
  height: 20px;
  /*@include spriteImg($icons,"nav_zx");
  background-image: url('../images/icons-s65f4c88903.png');
  background-position: 0 -439px;
  width: 36px;
  height: 20px;*/
  color: transparent;
}
/* line 636, ../sass/style.scss */
.index3_wrapper .index3_header .icon_w.nav_zx {
  background-position: 0 -462px;
}
/* line 639, ../sass/style.scss */
.index3_wrapper .index3_header .icon_w.nav_zixun {
  background-position: 0 -414px;
}
/* line 642, ../sass/style.scss */
.index3_wrapper .index3_header .icon_w.nav_zj {
  background-position: 0 -438px;
}
/* line 645, ../sass/style.scss */
.index3_wrapper .index3_header .icon_w.nav_dy {
  background-position: 0 -318px;
}
/* line 648, ../sass/style.scss */
.index3_wrapper .index3_header .icon_w.nav_ftp {
  background-position: 0 -342px;
}
/* line 651, ../sass/style.scss */
.index3_wrapper .index3_header .icon_w.nav_jj {
  background-position: 0 -366px;
}
/* line 654, ../sass/style.scss */
.index3_wrapper .index3_header .icon_w.nav_qp {
  background-position: 0 -390px;
}
/* line 662, ../sass/style.scss */
.index3_wrapper .index3_main {
  width: 100%;
  position: relative;
  margin-top: 50px;
  background-color: #f1f1f1;
}
/* line 667, ../sass/style.scss */
.index3_wrapper .index3_main .index3_main_inner {
  width: 960px;
  margin: 0 auto;
}
/* line 670, ../sass/style.scss */
.index3_wrapper .index3_main .index3_main_inner .title {
  position: relative;
  width: 960px;
  height: 74px;
  margin: 0 auto;
}
/* line 675, ../sass/style.scss */
.index3_wrapper .index3_main .index3_main_inner .title div {
  width: 600px;
}
/* line 677, ../sass/style.scss */
.index3_wrapper .index3_main .index3_main_inner .title div .main_title {
  font-family: "Microsoft YaHei";
  font-size: 32px;
  color: #00a0e9;
}
/* line 680, ../sass/style.scss */
.index3_wrapper .index3_main .index3_main_inner .title div .sub_title {
  font-family: "Microsoft YaHei";
  font-size: 18px;
  color: #676767;
}
/* line 684, ../sass/style.scss */
.index3_wrapper .index3_main .index3_main_inner .title .icon_attention {
  background-color: #00a0e9;
  height: 30px;
  width: 200px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
/* line 693, ../sass/style.scss */
.index3_wrapper .index3_main .index3_main_inner .content {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
/* line 697, ../sass/style.scss */
.index3_wrapper .index3_main .index3_main_inner .content .left {
  position: relative;
  width: 230px;
  margin-right: 30px;
}
/* line 701, ../sass/style.scss */
.index3_wrapper .index3_main .index3_main_inner .content .left .cover_editor {
  width: 230px;
}
/* line 703, ../sass/style.scss */
.index3_wrapper .index3_main .index3_main_inner .content .left .cover_editor .cover {
  height: 338px;
  width: 230px;
  background: url(../images/dds.jpg);
}
/* line 708, ../sass/style.scss */
.index3_wrapper .index3_main .index3_main_inner .content .left .cover_editor .editor {
  font-family: "Microsoft YaHei";
  font-size: 16px;
  color: #676767;
}
/* line 712, ../sass/style.scss */
.index3_wrapper .index3_main .index3_main_inner .content .left .messageboard {
  width: 230px;
}
/* line 714, ../sass/style.scss */
.index3_wrapper .index3_main .index3_main_inner .content .left .messageboard .dajiashuo {
  margin-top: 20px;
  background-image: url('/images/icons-sa3ca1be2d4.png');
  background-position: 0 -100px;
  width: 68px;
  height: 19px;
  background-position: 0 -100px;
}
/* line 719, ../sass/style.scss */
.index3_wrapper .index3_main .index3_main_inner .content .left .messageboard .board {
  margin-top: 16px;
  width: 230px;
  background-color: #fff;
}
/* line 723, ../sass/style.scss */
.index3_wrapper .index3_main .index3_main_inner .content .left .messageboard .board div {
  position: relative;
  height: 94px;
  margin: 0 auto;
  padding-top: 5px;
  width: 200px;
}
/* line 729, ../sass/style.scss */
.index3_wrapper .index3_main .index3_main_inner .content .left .messageboard .board div p {
  word-break: break-word;
}
/* line 733, ../sass/style.scss */
.index3_wrapper .index3_main .index3_main_inner .content .left .messageboard .board div:after {
  content: "";
  position: absolute;
  top: 94px;
  left: -10px;
  z-index: 1;
  width: 220px;
  height: 1px;
  background-color: #585757;
}
/* line 748, ../sass/style.scss */
.index3_wrapper .index3_main .index3_main_inner .content .right {
  width: 900px;
}
/* line 764, ../sass/style.scss */
.index3_wrapper .index3_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #585757;
  text-align: center;
  color: #fff;
}
/* line 772, ../sass/style.scss */
.index3_wrapper .index3_footer .index3_inner {
  position: relative;
  width: 1240px;
  margin: 0 auto;
  height: 38px;
}
/* line 778, ../sass/style.scss */
.index3_wrapper .index3_footer .index3_inner .copyright {
  height: 38px;
  margin-left: 70px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  line-height: 38px;
}
